@ahmedjobs-icons-admin__font-name-path: '@{baseDir}fonts/AhmedFonts/jobs';
@ahmedjobs-icons-admin__font-name: 'AhmedJobs';

.lib-font-face(
    @family-name: @ahmedjobs-icons-admin__font-name,
    @font-path: @ahmedjobs-icons-admin__font-name-path,
    @font-format: 'woff',
    @font-weight: normal,
    @font-style: normal,
    @font-type: 'woff'
);

.admin__menu .item-job-head.level-0 > a:before {
    content: '\e976';
    font-family: @ahmedjobs-icons-admin__font-name;
}

/* app/design/adminhtml/Magento/backend/Maxime_Jobs/web/css/source/_module.less */
// @maximejobs-icons-admin__font-name-path: '@{baseDir}fonts/MaximeFonts/jobs';
// @maximejobs-icons-admin__font-name : 'MaximeJobs';
// .lib-font-face(
//     @family-name:@maximejobs-icons-admin__font-name,
//     @font-path: @maximejobs-icons-admin__font-name-path,
//     @font-weight: normal,
//     @font-style: normal
// );
// .admin__menu .item-job-head.parent.level-0 > a:before {
//     font-family: @maximejobs-icons-admin__font-name;
//     content: "\e900";
// }